<h2 class="container">Agregar tarjeta</h2>
<form [formGroup]="form" class="container" action="submit">
  <div class="form-group">
    <label for="numeroTarjeta">Número tarjeta:</label>
    <input type="number" name="numeroTarjeta" formControlName="numero_tarjeta" class="form-control" placeholder="Ingrese número de la tarjeta">
  </div>
  <div class="form-group">
    <label for="codigoSeguridad">Codigo seguridad:</label>
    <input type="number" formControlName="security_code" name="codigoSeguridad" class="form-control" placeholder="223">
  </div>
  <div class="form-group">
    <label for="fechaExpiracion">Fecha Expiración</label>
    <input type="text" name="fechaExpiracion" formControlName="fecha_exp" class="form-control" placeholder="MM/AAAA">
  </div>
  <button type="submit" class="btn btn-primary mt-3" (click)="onSubmit()">Guardar</button>
</form>
